body{
    font-family:'Montserrat', sans-serif;;
    background-color: blue;
    overflow: hidden;
}

.container{
    margin-top: 150px;
}

.buttonContainer{
    display: grid;
    justify-content: center;
    width:100%;
}

a{
    text-decoration: none;
}

.container button{
    font-family:'Pokemon Solid', sans-serif;
    width: 600px;
    height: 130px;
    background-color: #FDAC42;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 0 4px black;
    border: 5px solid #2866fd;
    transition: all 0.5s;
}

.container button:hover{
    background-color: red;
    text-shadow: 0 8px black;
    font-size: 35px;
    padding-right: 20px;
    border:5px solid white;
    transition: 0.5s;
}

.container h1{
    text-align: center;
    -webkit-text-stroke:1px #2866fd;
    font-size: 100px;
    color: #f8ab03;
    text-shadow: 5px 5px black;
    animation:infinite wiggle 2s;
}

@keyframes wiggle {
    0%{
        transform: rotate(0deg);
    }
    30%{
        tranform: rotate(1deg);
    }
    50%{
        transform: rotate(-1deg);
    }
    60%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.gameHeader{
    display: flex;
    justify-content:space-around;
    -webkit-text-stroke:1px #2866fd;
    font-size: 40px;
    color: #f8ab03;
    text-shadow: 5px 5px black;
    width: 100%;
    gap:20px;
    height: 180px;
}

.gameHeader h1{
    font-size: 70px;
}

.catContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    background-color: grey;
    text-align: center;
    padding: 5px;
    gap:10px;
    border-radius: 5px;
    border: 2px solid black;
}

.catContainer p{
    font-size: 30px;
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
}

.points{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: grey;
    text-align: center;
    padding: 10px;
    gap:10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top:5px;
    height:450px;
    border: 2px solid black;
}

button{
    display: block;
    font-size: 30px;
    background-color: blue;
    color: yellow;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    transition: all 0.3s;
}

.questionsDone{
    display: block;
    font-size: 30px;
    background-color: red;
    color: yellow;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    transition: all 0.3s;
}

.questionsDone:hover {
    background-color: red;
    font-size: 30px;
}

button:hover{
    background-color: black;
    font-size: 35px;
}

.answerOptions{
    display: flex;
    width: 100%;
    margin: 10px;   
}

.dialogOpen h2{
    text-align: center;
    font-size: 60px;
}

.answerOptions button{
    margin: 5px;
}

.arab{
    height: 350px;
}

#playersTurn{
    color: red;
}

@media (max-width: 375px){
    .catContainer p{
        font-size: 13px;
        max-width: max-content;
        padding: 10px;
    }
    .points{
        padding: 5px;
        max-width: max-content;
        height: 100%;
    }
    .score{
        font-size: 25px;
    }
    .gameHeader{
        width:100%;
        align-items: center;
    }
    .gameHeader h1{
        font-size: 30px;
        text-align: center;
    }
    .category{
        width: 100%;
    }
    .questionsButton{
        font-size: 10px;
    }
    button:hover{
        background-color: red;
        font-size: 13px;
    }
    .questionsDone{
        font-size: 10px;
    }
    .questionsDone:hover{
        font-size: 13px;
    }
    dialog{
        width:50%;
    }
    .dialogOpen h2{
        font-size: 20px;
    }
    .answerOptions button{
        max-width: 100%;
        font-size: 10px;
        padding: 5px;
    }
    .dialogReset{
        height: 40%;
    }
    .arab{
        height: 40%;
    }
    .resetOk{
        font-size: 20px;
    }
}

@media (min-width: 376px) and (max-width: 600px){
    .catContainer p{
        font-size: 15px;
        max-width: max-content;
        padding: 15px;
        margin: 10px;
    }
    .points{
        padding: 5px;
        height: 100%;
    }
    .score{
        font-size: 25px;
    }
    .gameHeader{
        width:100%;
        align-items: center;
    }
    .gameHeader h1{
        font-size: 30px;
        text-align: center;
    }
    .category{
        width: 100%;
    }
    .questionsButton{
        font-size: 15px;
    }
    button:hover{
        background-color: red;
        font-size: 20px;
    }
    .questionsDone{
        font-size: 15px;
    }
    .questionsDone:hover{
        font-size: 13px;
    }
    dialog{
        width:50%;
    }
    .dialogOpen h2{
        font-size: 20px;
    }
    .answerOptions button{
        max-width: 100%;
        font-size: 10px;
        padding: 5px;
    }
    .dialogReset{
        height: 40%;
    }
    .arab{
        height: 40%;
    }
    .resetOk{
        font-size: 20px;
    }
}